global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    option dontlognull
    option clitcpka
    option srvtcpka
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 /etc/haproxy/errors/400.http
    errorfile 403 /etc/haproxy/errors/403.http
    errorfile 408 /etc/haproxy/errors/408.http
    errorfile 500 /etc/haproxy/errors/500.http
    errorfile 502 /etc/haproxy/errors/502.http
    errorfile 503 /etc/haproxy/errors/503.http
    errorfile 504 /etc/haproxy/errors/504.http

frontend tcp_front_443
    bind *:443
    mode tcp
    option tcplog
    default_backend servers_443

frontend tcp_front_80
    bind *:80
    mode http
    option httplog
    default_backend servers_80

backend servers_443
    mode tcp
    server server_443 8.8.8.8:443 check send-proxy

backend servers_80
    mode http
    server server_80 8.8.8.8:80 check send-proxy
